.interactive-hover-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    color: var(--color-dark-purple);
    border: 1px solid var(--color-dark-purple);
    border-radius: 50px;
    background-color: transparent;
    padding: 12px 24px;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.interactive-hover-button .content-wrapper {
    display: inline-block;
    transition: transform 0.3s ease;
}

.interactive-hover-button:hover .content-wrapper {
    transform: translateX(3px);
}

.interactive-hover-button .hover-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease;
    z-index: 2;
    color: white;
    /* Text color on hover */
}

/* Ensure the button has width to handle the circle expansion */
.interactive-hover-button {
    isolation: isolate;
}

/* Hover styles for expander dot animation */
a:hover .expander-dot,
button:hover .expander-dot {
    transform: translateY(-50%) scale(50);
}

a:hover .initial-text,
button:hover .initial-text {
    transform: translateX(20px);
    opacity: 0;
}

a:hover .hover-text,
button:hover .hover-text {
    opacity: 1;
    transform: translateX(0);
}