/* Mission Page */
.page-mission {
    color: var(--color-white);
    margin: 0 auto;
    min-height: var(--unit-100vh);
    position: relative;
    background-color: #1a1a1a;
    /* Updated to dark grey */
    overflow: hidden;
}

/* Container for the grid to stay fixed or absolute */
.mission-grid-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.mission-grid-pattern {
    color: var(--color-white);
    opacity: 0.15;
}

/* Value Prop Section */
.section-value-prop {
    padding: 0 0 100px;
    margin-top: -50px;
    color: var(--color-white);
    background-color: transparent;
}

/* Matching Services Page Header Style */
.section-value-prop .title {
    margin: 0 0 60px;
    line-height: 1.2;
    text-align: center;
    font-size: 56px;
    /* Matched from Services page */
    font-weight: 700;
    letter-spacing: -1px;
}

.section-value-prop .block {
    margin: 0 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Centered content */
}

/* Smaller content box */
.section-value-prop .panel-text {
    max-width: 320px;
    /* Smaller width */
    padding-left: 60px;
    /* Reduced padding */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-value-prop .image {
    max-width: 500px;
    /* Slightly reduced image constraint for better proportion with smaller text box */
    transform: translate(-100%);
    transition: transform .6s var(--easing-authentic-motion);
    margin: 0;
    width: 100%;
}

.section-value-prop .panel-text .number {
    font-size: 60px;
    /* Adjusted to fit smaller box */
    transform: translateY(50%);
}

.section-value-prop .panel-text .number,
.section-value-prop .panel-text .title {
    opacity: 0;
    transition: transform .6s var(--easing-authentic-motion), opacity .6s var(--easing-authentic-motion);
}

.section-value-prop .panel-text .title {
    margin: 15px 0;
    padding: 0;
    font-size: 22px;
    text-align: left;
    transform: translateY(100%);
}

.section-value-prop .panel-text .text {
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 200;
    color: var(--color-white);
    opacity: 0;
    transform: translateY(50%);
    transition: transform .6s var(--easing-authentic-motion), opacity .6s var(--easing-authentic-motion);
}

.section-value-prop .block.has-entered .image,
.section-value-prop .block.has-entered .number,
.section-value-prop .block.has-entered .text,
.section-value-prop .block.has-entered .title {
    opacity: 1;
    transform: translate(0);
}

/* Staggered delays for Value Prop blocks */
.section-value-prop .block:first-of-type .image,
.section-value-prop .block:first-of-type .number,
.section-value-prop .block:first-of-type .text,
.section-value-prop .block:first-of-type .title {
    transition-delay: 40ms;
}

.section-value-prop .block:nth-of-type(2) .image,
.section-value-prop .block:nth-of-type(2) .number,
.section-value-prop .block:nth-of-type(2) .text,
.section-value-prop .block:nth-of-type(2) .title {
    transition-delay: 80ms;
}

.section-value-prop .block:nth-of-type(3) .image,
.section-value-prop .block:nth-of-type(3) .number,
.section-value-prop .block:nth-of-type(3) .text,
.section-value-prop .block:nth-of-type(3) .title {
    transition-delay: .12s;
}


/* Collaboration Section */
.section-collaboration {
    width: 100%;
    height: 100%;
    padding: 60px 0 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
    color: var(--color-grey);
    background-color: #1a1a1a;
    /* Consistency updated */
}

.section-collaboration .panel-top {
    position: relative;
    width: 100%;
    min-height: 75vh;
}

.section-collaboration .title-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 120px;
    z-index: 100;
}

.section-collaboration .title-top .prefix {
    font-size: 80px;
}

.section-collaboration .title-top .word {
    padding: 0 0 0 35px;
    font-size: 180px;
    font-weight: 500;
}

.section-collaboration .title-top .prefix,
.section-collaboration .title-top .word {
    margin: 0;
    clip-path: inset(100% 0 0 0);
    transition: clip-path .6s var(--easing-authentic-motion);
}

.section-collaboration .title-top.has-entered .prefix,
.section-collaboration .title-top.has-entered .word {
    clip-path: inset(0);
}

.section-collaboration .panel-images {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.section-collaboration .image {
    max-width: 300px;
    z-index: 10;
    transform: translate(-25%, 20%);
    clip-path: inset(0 0 100% 0);
    transition: transform .9s var(--easing-authentic-motion), clip-path .9s var(--easing-authentic-motion) .1s;
    margin: 0;
}

.section-collaboration .image:nth-of-type(2) {
    transform: translateY(50%);
    z-index: 20;
}

.section-collaboration .image:nth-of-type(3) {
    z-index: 30;
    transform: translate(25%, 20%);
}

.section-collaboration .panel-images.has-entered .image {
    transform: translate(25%);
    clip-path: inset(0 0 0 0);
}

.section-collaboration .panel-images.has-entered .image:nth-of-type(2) {
    transform: translateY(-50%);
}

.section-collaboration .panel-images.has-entered .image:nth-of-type(3) {
    transform: translate(-25%);
}

.section-collaboration .title-bottom {
    margin: 0 0 30px;
    z-index: 20;
    text-align: center;
}

.section-collaboration .title-bottom .prefix {
    padding-left: 160px;
    font-size: 80px;
}

.section-collaboration .title-bottom .word {
    padding: 0;
    font-size: 180px;
    font-weight: 500;
}

.section-collaboration .title-bottom .prefix,
.section-collaboration .title-bottom .word {
    margin: 0;
    clip-path: inset(100% 0 0 0);
    transition: clip-path .6s var(--easing-authentic-motion);
}

.section-collaboration .title-bottom.has-entered .prefix,
.section-collaboration .title-bottom.has-entered .word {
    clip-path: inset(0);
}

.section-collaboration .panel-text {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.section-collaboration .block-text {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    /* Constricted width closer to request */
    padding: 50px 40px;
    opacity: 0;
    transform: translateY(50%);
    transition: transform .6s var(--easing-authentic-motion), opacity .6s var(--easing-authentic-motion);
}

.section-collaboration .block-text.has-entered {
    opacity: 1;
    transform: translate(0);
}

.section-collaboration .block-text .number {
    font-size: 22px;
    font-weight: 400;
}

.section-collaboration .block-text .text {
    font-weight: 200;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    color: var(--color-white);
}

.section-collaboration .image-bottom {
    min-height: 400px;
    overflow: hidden;
    clip-path: inset(0 0 100% 0);
    transition: clip-path .6s var(--easing-authentic-motion);
    margin: 0;
    width: 100%;
    max-width: 2000px;
}

.section-collaboration .image-bottom .media {
    transform: scale(1.2);
    transition: all .6s var(--easing-authentic-motion) .1s;
}

.section-collaboration .image-bottom.has-entered {
    clip-path: inset(0);
}

.section-collaboration .image-bottom.has-entered .media {
    transform: scale(1);
}

@media only screen and (min-width: 1800px) {

    /* Large screens adjustments */
    .section-value-prop {
        padding-bottom: 100px;
    }

    .section-value-prop .title {
        font-size: 80px;
        margin-bottom: 40px;
    }

    .section-value-prop .image {
        max-width: 720px;
    }

    .section-value-prop .block {
        margin-bottom: 85px;
    }

    .section-value-prop .panel-text {
        max-width: 440px;
        padding-left: 100px;
    }

    .section-value-prop .panel-text .number {
        font-size: 90px;
    }

    .section-value-prop .panel-text .title {
        font-size: 30px;
    }

    .section-collaboration .block-text {
        padding: 70px 100px 130px;
        max-width: 350px;
    }

    .section-collaboration .image {
        max-width: 422px;
    }

    .section-collaboration .image-bottom {
        min-height: 550px;
    }

    .section-collaboration .title-bottom .prefix {
        font-size: 112px;
    }

    .section-collaboration .title-bottom .word {
        font-size: 253px;
        letter-spacing: -2.53px;
        line-height: .94;
    }
}

@media only screen and (max-width: 1024px) {
    .section-value-prop .title {
        font-size: 42px;
    }

    .section-value-prop .image {
        max-width: 400px;
    }

    .section-value-prop .panel-text {
        max-width: 300px;
        padding-left: 40px;
    }

    .section-value-prop .panel-text .title {
        font-size: 20px;
    }

    .section-value-prop .panel-text .text {
        font-size: 14px;
    }

    .section-collaboration .title-top .prefix {
        font-size: 60px;
    }

    .section-collaboration .title-top .word {
        font-size: 130px;
    }

    .section-collaboration .image {
        max-width: 230px;
    }

    .section-collaboration .title-bottom .prefix {
        padding-left: 80px;
        margin: 0;
        font-size: 60px;
    }

    .section-collaboration .title-bottom .word {
        margin: 0;
        padding: 0;
        font-size: 130px;
    }
}

@media only screen and (max-width: 850px) {
    .section-value-prop {
        margin-top: 0;
        padding-top: 0;
    }

    .section-value-prop .title {
        max-width: 355px;
        padding-left: 20px;
        margin-bottom: 30px;
        font-size: 42px;
        text-align: left;
    }

    .section-value-prop .image {
        margin-bottom: 30px;
        max-width: 100%;
    }

    .section-value-prop .block {
        margin-bottom: 60px;
        /* Increased from 30px */
        padding-right: 20px;
        display: flex;
        flex-direction: column;
    }

    .section-value-prop .panel-text {
        max-width: 100%;
        padding: 0 20px;
    }

    .section-collaboration {
        padding: 30px 0 200px;
        /* Increased bottom padding for footer separation */
    }

    .section-collaboration .title-top .prefix {
        font-size: 35px;
    }

    .section-collaboration .title-top .word {
        padding-left: 10px;
        font-size: 57px;
    }

    .section-collaboration .panel-top {
        min-height: 40vh;
    }

    .section-collaboration .image {
        max-width: 113px;
    }

    .section-collaboration .title-bottom .prefix {
        padding-left: 25px;
        font-size: 35px;
    }

    .section-collaboration .title-bottom .word {
        font-size: 57px;
    }

    .section-collaboration .panel-text {
        padding: 0 20px;
        flex-direction: column;
    }

    .section-collaboration .block-text {
        padding: 0;
        margin-bottom: 60px;
        /* Increased from 30px */
        max-width: 100%;
        width: 100%;
    }
}