/* Services Page */
.page-services {
    color: var(--color-dark-purple);
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: url('../assets/pexels-tima-miroshnichenko-5717562.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Removed z-index: 1 to use default .page z-index of 100 */
}

.services-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 0;
}

.layout.route-services {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}